body{
    background: url(../images/img.jpg);
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    text-align: center;
    margin: auto;
    width: 100%;
}
img{
    opacity: 0.5;
}
table, td, th {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
thead{
    background-color: #ffc427;
}
.input{
    background-size: 100%;
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
    display: inline-block;
}

