body{
    background: url(../images/img.jpg) no-repeat;
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    text-align: center;
    margin: auto;
    width: 100%;
}
img{
    opacity: 0.5;
}
table, td, th {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
thead{
    background-color: bisque;
}

