body{
    background-color: #75ff17;
    text-align: center;
    margin: auto;
    width: 100%;
}
table{
    margin: auto;
    border: 4px black;
    border-collapse: collapse; /* Отображать только одинарные линии */
}

