<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Java Books</title>
    <link rel="stylesheet" href="../static/st/css/style.css" th:href="@{/st/css/style.css}">
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2> Java Books</h2>
        <table>
            <thead>
            <tr>
                <th width="60">Serial Number</th>
                <th width="120">Year</th>
                <th width="120">Lang</th>
                <th width="120">Publishing Company</th>
                <th width="120">Author name</th>
                <th width="120">Book name</th>
                <th width="120">Topic</th>
                <th width="120">Cover</th>
                <th width="60">Link</th>
                <th width="60">Edit</th>
                <th width="60">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book:${books}">
                <td th:text="${book.serialNumber}"></td>
                <td th:text="${book.year}"></td>
                <td th:text="${book.lang}"></td>
                <td th:text="${book.authorName}"></td>
                <td th:text="${book.publishingCompany}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.topic}"></td>
                <td th:text="${book.cover}" th:href="@{/url/url}"></td>
                <td th:text="${book.link}" placeholder="See text"></td>
                <td><a th:href="@{book-update/{id}(id=${book.id})}">Edit</a></td>
                <td><a th:href="@{book-delete/{id}(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/book-create">Add book</a></p>
</div>
</body>
</html>