<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/st/css/style.css" th:href="@{/st/css/style.css}" >
<meta charset="UTF-8">
<title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="serialNumber">Serial Number</label>
    <input type="text" th:field="*{serialNumber}" id="serialNumber" placeholder="Serial Number">
    <br/>
    <label for="year">Year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year">
    <br/>
    <label for="lang">Lang</label>
    <input type="text" th:field="*{lang}" id="lang" placeholder="Lang">
    <br/>
    <label for="authorName">Author name</label>
    <input type="text" th:field="*{authorName}" id="authorName" placeholder="Author Name">
    <br/>
    <label for="publishingCompany">Publishing Company</label>
    <input type="text" th:field="*{publishingCompany}" id="publishingCompany" placeholder="Publishing Company">
    <br/>
    <label for="bookName">Book name</label>
    <input type="text" th:field="*{bookName}" id="bookName" placeholder="Book Name">
    <br/>
    <label for="topic">Topic</label>
    <input type="text" th:field="*{topic}" id="topic" placeholder="Topic">
    <br/>
    <label for="cover">Cover</label>
    <form method="post" enctype="multipart/form-data" action="/uploadImage">
        <input type="image" th:field="*{cover}" id="cover" placeholder="Cover">
        <input type="submit" value="/Upload">
    </form>
    <br/>
    <label for="link">Book name</label>
    <input type="text" th:field="*{link}" id="link" placeholder="Link">
    <br/>
    <input type="submit" value="Update Book">
</form>
</body>
</html>